body {
    background-color: lime;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#container {
    background-color: white;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    display: flex;
}

#menu {
    width: 20%;
    height: 100%;
    background-color: red;
}

#inhoud {
    width: 80%;
    height: 100%;
    background-color: blue;
}