/*
KLEURENPALET
    roze:        #EC008C
    donkerroze:  #CC99CC
    groen:       #147219
    donkergroen: #003333
    rood:        #161b1b
    oranje:      #FF9933
    donkergrijs: #B5B5B5
    lichtgrijs:  #D1D1D1
  
*/

html,body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #003333;
}

#fotocontainer {
    width: 60%;
    height: 50%;
    background-color: white;
    background-image: url(boerderij2.jpg);      
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #CC9999;
    margin: auto;
}

#restaurant {  
    opacity: 1.0;
    width: 50%;
    margin-left: 50%;
}

#restaurant h1 {
    background-image: url(FFFFFF-0.7.png); /* via http://www.1x1px.me */
    text-align: right;
    font-family: sans-serif;
    font-size: 80px;
    color: #003333;
    margin-top: 2%;
    padding-right: 3%;  
}

#menu-container {
    display: flex;
    width: 60%;
    margin: auto;
}

.menu-cirkel {
    border: 2px solid #B5B5B5;
    margin: 2%;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    background-color: #CC99CC;
    text-align: center;
    line-height: 180px;
    font-family: sans-serif;
    font-size: 100px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;   
}

.menu-cirkel:hover {
    background-color: #B5B5B5;
    border: 2px solid #CC99CC;
}

.menu-cirkel a {
    text-decoration: none;
}

