/* Commentaar wordt in CSS op deze manier aangegeven */

body {
    
}

h1 {
    color: brown;
    font-size: 40px;    
}

#uniek {
    color:khaki;
}

.anders {
    font-family: 'Courier New', Courier, monospace;
}

li {
    background-color: orange;
}